# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir


# C extensions
*.so
*.pyx
*.c
test.txt
test111.py
.ruff_cache
.mypy_cache
media
test.txt

.env
.idea
.venv

pyrightconfig.json

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Cython debug symbols
cython_debug/

# Django stuff:
*.
logs/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*.db
linux_venv/
# Distribution / packaging
.Python
develop-eggs/
/build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
new_tmp*

/static/

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PEP 582
__pypackages__/

# PyBuilder
.pybuilder/
target/

# pyenv
.python-version

# PyInstaller
*.manifest
*.spec

# Translations
*.mo
*.pot

# Unit tests / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
mydjangofile*

# Sphinx documentation
docs/_build/

# VSCode Editor
.vscode
tmp*
.trunk/
mydjangofile*
backups
.DS*
deplo*.logs
deplo*.log
.fleet
keys/*private*
LICENSE
dump.*
nohup*
temp_files/

*.pid
